<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Document</title>
</head>
<style>
    .data {
        background-color: rgb(44, 228, 203);
        padding: 20px;
        font-size: 18px
    }
    
    h2 {
        background-color: rgb(240, 198, 229);
        padding: 5px;
        font-size: 40px
    }
</style>

<body>
    <h1>User Details</h1>
    <div class="flex">
        <a href="/" class="btn btn-primary"> Users </a>
        <a href="/users/new" class="btn btn-secondary">Add new User</a>
    </div>
    <h2>
        Name :
        <%= user.name %>
    </h2>
    <p class="data">
        Email :
        <%= user.email %>
            <br> Age:
            <%= user.age %>
                <br> Address :
                <%= user.address %>
                    <br> Bio :
                    <%= user.bio %>
                        <br> Hobbies :
                        <%= user.hobbies %>
                            <br>
                            <a href="/users/<%= user._id%>/edit">

                                <button class="btn btn-success">Edit</button>
                            </a>
                            <a href="/users/<%= user._id%>/delete">

                                <button class="btn btn-danger">Delete</button>
                            </a>

    </p>
</body>

</html>